@import '../../styles/variables.scss';

div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

div.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $tertiary-color;
  padding: 24px;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 90vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  div.container {
    box-sizing: border-box;


    .logo-container {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;


      img {
        max-width: 100px;
        height: auto;
      }
    }

    div.container-header {
      text-align: center;
      margin-bottom: 20px;


      div.content-header {
        h2 {
          font-size: 2rem;
          margin-bottom: 10px;
        }

        p {
          font-size: 1rem;
          color: $text-color;
        }
      }
    }

    form.form-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;


      mat-error {
        margin-bottom: 10px;
      }

      mat-form-field {
        width: 100%;
      }


      div.btn-container {
        display: flex;
        justify-content: space-between;
        gap: 12px;

        button {
          flex: 1;
          padding: 12px 0;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .modal {
    width: 95%;
    padding: 20px;
  }

  .btn-container {
    flex-direction: column;

    button {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}


